*{
    padding: 0;
    margin: 0;
    vertical-align: top;
    
}

h1{
    font-family: "Great Vibes";
    background-image: linear-gradient(90deg,rgba(190, 140, 37, 1) 1%, rgba(255, 231, 145, 1) 100%);
    color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 6em;
    font-weight: 200;
}

.fondHomePage{
    height: 60em;
    z-index: 1;

    background-image: url(../img/fondHome.webp);
    filter: blur(8px) grayscale(100%) brightness(0.5) ;
    background-size: 100%;
    background-position:center;
}



.fondHomeCalque
{
    height: 60em;
    transform: translate(0%, -100%);
}

.homePage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60em;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translate(0%, -200%);
}

.divTitre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    transform: translate(0, -70%);
    a{
        width: 100%;
        text-align: center;
    }
    .logo{
        width: 30%;
        margin-bottom: 3em;
    }
}

.nav{
    margin: 3em;
    width: 95%;
    .burger{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .rec1{
        width: 3em;
        height: 0.6em;
        background-image: linear-gradient(90deg,rgba(190, 140, 37, 1) 1%, rgba(255, 231, 145, 1) 100%);
        border-radius: 20px;
    }
    .rec2{
        width: 3em;
        height: 0.6em;
        border-radius: 20px;
        background-image: linear-gradient(90deg,rgba(190, 140, 37, 1) 1%, rgba(255, 231, 145, 1) 100%);
    }
    .langue{
        width: 3%;
        img{
            width: 100%;
        }
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
}

main{
    background-color: rgb(24, 24, 27);
}