*{
    padding: 0;
    margin: 0;
    vertical-align: top;
    
}

h1{
    font-family: "Great Vibes";
    background-image: linear-gradient(90deg,rgba(190, 140, 37, 1) 1%, rgba(255, 231, 145, 1) 100%);
    color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 6em;
    font-weight: 200;
}

.fondHomePage{
    height: 60em;
    z-index: 1;

    background-image: url(../img/fondHome.webp);
    filter: blur(8px) grayscale(100%) brightness(0.5) ;
    background-size: 100%;
    background-position:center;
}



.fondHomeCalque
{
    height: 60em;
    transform: translate(0%, -100%);
}

.homePage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60em;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translate(0%, -200%);
}

.divTitre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    transform: translate(0, -70%);
    a{
        width: 100%;
        text-align: center;
    }
    .logo{
        width: 30%;
        margin-bottom: 3em;
    }
}

.menu-burger{
    visibility: hidden;
    border-radius: 0 50px 50px 0;
    position: absolute;
    z-index: 7;
    font-size: 2.2em;
    font-family: "raleway";
    padding: 0.5em 0.5em 0.5em 0;
    li, ul, a{
        font-weight: 300;
        text-align: center;
        margin-bottom: 1em;
        list-style-type: none;
        text-decoration: none;
        color: white;
    }
    background-image: linear-gradient(90deg,rgba(190, 140, 37, 1) 1%, rgba(255, 231, 145, 1) 100%);
    .userNav{
        margin-top: 4em;
    }

    .rec1, .rec2{
        background-image: linear-gradient(90deg,rgba(190, 140, 37, 1) 1%, rgba(255, 231, 145, 1) 100%);
        height: 0.2em;
        width: 1em;
        border-radius: 50px;
    }
    .rec1{
        rotate: 90deg;
        transform: translate(20%, 0);
    }
    .croixCloseBurger{
        cursor: pointer;
        rotate: 45deg;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    margin-left: -100%;
    transition: all 0.9s ease;
}

.menu-burger2{
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0 50px 50px 0;
    padding: 1em 1em 0.1em 1em;
}

.letVisible{
    visibility: visible;
    margin-left: 0;
}


.nav{
    margin: 3em;
    width: 95%;
    .burger{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        cursor: pointer;
    }
    .rec1{
        width: 3em;
        height: 0.6em;
        background-image: linear-gradient(90deg,rgba(190, 140, 37, 1) 1%, rgba(255, 231, 145, 1) 100%);
        border-radius: 20px;
    }
    .rec2{
        width: 3em;
        height: 0.6em;
        border-radius: 20px;
        background-image: linear-gradient(90deg,rgba(190, 140, 37, 1) 1%, rgba(255, 231, 145, 1) 100%);
    }
    .langue{
        width: 3%;
        img{
            width: 100%;
        }
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
}

main{
    background-color: rgb(24, 24, 27);
}