{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}
{% block meta_description %}Page regrouppant plusieurs réponses à des question qu'un utilisateur pourrait se poser{% endblock %}

{% block body %}

<div class="homePageTotal">
        <div class="homePage2">
            <div class="btnHomePageBlur">
                <h2 class="sousTitre goldPolice">FAQ</h2>
            </div>
        </div>
        <a href="#faq"><div class="scroll-down"></div></a>
        <div class="fondBlur fondBlur3">
            <div class="fondNoise"></div>
        </div>
</div>
<div class="progress-container">
    <div id="progress-bar"></div>
</div>

<div id="faq" class="quotesContainer">
    <h1 class="goldPolice titre">Questions récurentes</h1>
    <div class="quotes">
        <details class="quote">
            <summary>
                   Combien de temps est-ce que je mets pour faire un tatouage ?
            </summary>
            <p class="answer">
                80 ans
            </p>
        </details>


        <details class="quote">
            <summary>
                   Combien de temps est-ce que je mets pour faire un tatouage ?
            </summary>
            <p class="answer">
                80 ans
            </p>
        </details>


        <details class="quote">
            <summary>
                   Combien de temps est-ce que je mets pour faire un tatouage ?
            </summary>
            <p class="answer">
                80 ans
            </p>
        </details>


        <details class="quote">
            <summary>
                   Combien de temps est-ce que je mets pour faire un tatouage ?
            </summary>
            <p class="answer">
                80 ans
            </p>
        </details>


        <details class="quote">
            <summary>
                   Combien de temps est-ce que je mets pour faire un tatouage ?
            </summary>
            <p class="answer">
                80 ans
            </p>
        </details>


        <details class="quote">
            <summary>
                   Combien de temps est-ce que je mets pour faire un tatouage ?
            </summary>
            <p class="answer">
                80 ans
            </p>
        </details>


        <details class="quote">
            <summary>
                   Combien de temps est-ce que je mets pour faire un tatouage ?
            </summary>
            <p class="answer">
                80 ans
            </p>
        </details>


        <details class="quote">
            <summary>
                   Combien de temps est-ce que je mets pour faire un tatouage ?
            </summary>
            <p class="answer">
                80 ans
            </p>
        </details>
    </div>
</div>

{% endblock %}

{% block footer %}
    {% include "_footer.html.twig" %}
{% endblock %}