<dialog class="popup popupSaveSimu hidden">
    <div class="croixPopupSaveSimu croix">
        <div class="rec1"></div>
        <div class="rec2"></div>
    </div>
    <div class="flashForm">
        {{ form_start(formSaveSimu, {'action': path("save_simu")}) }}
        <div class="flashFormSection">
            {{ form_row(formSaveSimu.name) }}
        </div>
        <div class="divfiles">
            <div class="inputLabel">
                {{ form_row(formSaveSimu.image) }}
            </div>
            <div class="previewImageDiv">
                <img class="previewImage" src="" alt="">
            </div>
        </div>
        <div class="divBtnAddFlashForm">
            <a href=""><button class="btn"><p class="goldPolice">Enregistrer</p></button></a>
        </div>
        {{ form_end(formSaveSimu) }}
    </div>
</dialog>