<div class="resultContainer flashContainer">
    {% if prixFinalTattoo %}
        {{ prixFinalTattoo }}
    {% endif %}
    <div class="showFinalPrice">
        <p>Prix estimé : </p>
        <p>990€</p>
    </div>
    <div class="btnSaveSimu">
        <a id="flashButtonContact" href="" class="btn">
            <p class="goldPolice">Enregistrer</p>
        </a>
        
    </div>
</div>