<div class="resultContainer flashContainer">

    <div class="showFinalPrice">
        <p>Prix estimé pour ce tatouage : </p>
        <p>{{ prixFinalTattoo }}</p>
    </div>
    <div class="btnSaveSimu">
           <div class="divBtnCalculerSimu">
        <button type="submit" class="btn"><p class="goldPolice">Enregistrer</p></button>
    </div>
        
    </div>
</div>