<footer>
    <div class="footerContainer">
        <a class="lienlogoreseau" target="_blank" href="https://www.instagram.com/human_beink">
            <img class="logofooter" src="{{ asset("img/instagram.webp")}}" alt="Logo Instagram">
        </a>
        <a class="liencontact" href="{{ path("app_contact") }}">
            <p>Contactez-moi</p>
        </a>
        <p class="numerotel">00 00 00 00 00</p>
        <a href="mailto:hotmail@hotmail.fr">
            <p>blank@hotmail.fr</p>
        </a>
        <small class="droitsreservees">© Tous droits réservés - Human Be Ink - 2025</small>
        <a href="#">Politique de confidentialité</a>
        <a class="mentionslegales" href="#">Mentions légales</a>
    
    </div>
</footer>