<dialog class="popup popupDetailFlash hidden" data-fav="{% for flash in likedFlashs %}{{ flash.id }} {% endfor %}">
    <div class="croix croixFlash2">
        <div class="rec1"></div>
        <div class="rec2"></div>
    </div>
    <tilt-card class="divDetImage">
        <img class="detImage" src="" alt="">
    </tilt-card>
    <div class="buttons">
    {% if app.user is not null %}
            <a id="lienFavFlash" href="#" class="btn">
                <p class="goldPolice">Ajouter aux favoris</p>
            </a>
    {% endif %}
        <a id="flashButtonContact" href="" class="btn">
            <p class="goldPolice">{{ "home.btn2" | trans }}</p>
        </a>
    </div>
    {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
        <div class="buttons">
            <a id="deleteFlashBtn" href="" class="btn">
                <p class="gradientSupr">Supprimer le flash</p>
            </a>
        </div>
    {% endif %}
</dialog>
