{% extends 'base.html.twig' %}

{% block title %}Flash | WannaDo {% endblock %}

{% block body %}
    <div class="homePageTotal">
        <div class="fondHomePage">
        </div>
        <div class="fondHomeCalque">
        </div>
        <div class="homePage">
            <div class="divTitre">
                <a href="{{ path("app_accueil") }}"><img class="logo" src="{{ asset("img/logo-HBI.webp")}}" alt="Logo de l'entreprise Human Be Ink"></a>
                <h1 class="goldPolice">Human Be Ink</h1>
            </div>
            <h2 class="sousTitre goldPolice">Flash | WannaDo</h2>
            <div class="btnHomePage">
                <a href="#"><button class="btn"><p class="goldPolice">Mon Univers</p></button></a>
                <a href="#"><button class="btn"><p class="goldPolice">Prendre Contact</p></button></a>
            </div>
        </div>
        <div class="scroll-down"></div>
    </div>
    <div class="progress-container">
        <div id="progress-bar"></div>
    </div>

    <div class="flashDef">
        <h2 class="goldPolice">Qu'est-ce qu'un Flash ?</h2>
        <p class="defFlash">Un tattoo flash est un motif de tatouage pré-dessiné, imaginé par le tatoueur, prêt à être tatoué <bold>tel quel</bold>. Ces designs sont souvent exposés en salon ou publiés sur mes réseaux, et ils permettent de se faire tatouer plus rapidement et à un <bold>tarif plus accessible</bold> qu’un tatouage personnalisé. A noter qu’ils sont uniques et ne peuvent être tatoués qu’<bold>une seule fois par personne</bold>.</p>
    </div>

    <div class="flashContainerTotal">
        <h2 class="goldPolice">Flashs Disponibles</h2>
        <div class="flashContainer"></div>
    </div>
{% endblock %}
